/*body{*/
    /*background-color: black;*/
/*}*/

/*p{*/
    /*margin:0;*/
    /*font-size: 3em;*/
    /*color: lightsteelblue;*/
/*}*/

/*svg.elements{*/
    /*fill: currentColor;*/
    /*width: 1em;*/
    /*height: 1em;*/
/*}*/
body{
    background-color: black;
}

p{
    width:250px;
    margin-left: 40%;
    stroke: white;
    stroke-width: 2px;
}



.Panther:hover{
    fill: red;
    stroke: black;
}

.Panther:active{
    transform: scale(1.3);
    fill: gray;
}


.tommie:hover{
    fill: red;
    stroke: black;
}

.tommie:active{
    transform: scale(1.3);
    fill: gray;
}



.kap:hover{
    fill: red;
    stroke: black;
}

.kap:active{
    fill: gray;
    transform: scale(1.2);
}


.rosa:hover{
    fill: red;
    stroke: black;
}

.rosa:active{
    fill:gray;
    transform: scale(1.2);
}

.blm:hover{
    fill: red;
    stroke: black;
}

.blm:active{
    fill: gray;
    transform: scale(1.2);
}